@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Regular.ttf");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* Typography */

h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  margin: 0.375em 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #141414;
}
h4 {
  margin: 1.2em 0;
}
button {
  margin: 1.69em auto;
  color: #000;
  font-weight: 700;
  text-decoration: underline;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  color: #505050;
}

/* HEADER */

header {
  display: flex;
  padding: 1.25em;
  margin: 0;
  align-items: center;
}

.logo {
  width: 23px;
  height: 23px;
}

.logo-text {
  font-family: "Roboto", sans-serif;
  margin-left: 0.36em;
  padding-bottom: 0;
}

.navigation {
  margin-left: auto;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  justify-content: space-between;
}

.navigation li {
  margin-left: 2.08em;
  font-size: 0.75rem;
}
a {
  text-decoration: none;
  color: black;
}

/* HERO */

.hero-section {
  padding: 5.44em 1.25em 1.56em;
  background-image: url("https://images.unsplash.com/photo-1599922796091-c63c77b4fcff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjEzfHxjb21wdXRlciUyMGJsYXV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.hero-section p {
  line-height: 1.5;
  color: #fff;
}

.date-hero {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}
.date {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1em;
}

/* BLOG SECTION */

.big-container {
  display: none;
}

.blog-section,
.about-section,
.selected-blog {
  padding: 2.5em 1.25em 0;
}
.blog-img {
  width: 100%;
}
.read-more {
  align-self: end;
  margin: 0;
  font-weight: 400;
}

/* FOOTER */
footer {
  margin-top: 1.69em;
  background: #202020;
  text-align: center;
  padding: 3.125em 0;
}

footer p {
  color: #ececec;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
}
.copyright {
  font-weight: 400;
  color: #d7d7d7;
}

/* ABOUT PAGE */

.about-img {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  object-fit: cover;
}

.about-section h1 {
  font-size: 2.2rem;
}

.about-subtext-heading {
  margin-bottom: 3em;
}

.recent-posts {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0;
  margin-bottom: -1em;
}
.email {
  color: blue;
}

/* ARTICLE PAGE */

.selected-article-img {
  width: 100%;
  height: 191px;
  object-fit: cover;
  margin-top: 2em;
  margin-bottom: 1em;
}

.selected-date {
  margin-top: -1em;
}

.selected-blog-longtext p {
  margin: 1em 0;
}

/* MEDIA QUERIES */

@media (min-width: 769px) {
  /* typography */
  p {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 1.125rem;
  }
  .navigation li {
    font-size: 1.125rem;
  }
  .date,
  .date-hero {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
  }

  /* index.html */
  .hero-section-content {
    margin-top: 30%;
    margin-bottom: 7%;
    width: 70%;
  }
  .big-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* about.html */

  .about-img-title {
    display: flex;
    gap: 20px;
  }

  .about-heading-subheading {
    margin-left: 1.5em;
  }
  .about-text {
    padding: 0 3.5em;
  }

  /* article.html */
  .article-heading-subheading,
  .selected-blog-longtext {
    padding: 0 3em;
  }
  .selected-article-img {
    height: 460px;
  }
}
